<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" name="viewport">
    <script>
    	var DocData = <%- JSON.stringify(docData) %>||{};
    </script>
    <% docData.extra.css.forEach(function(css){ %>
    	<link rel="stylesheet" href="<%- css %>">
  	<% }); %>
    <style>
        <%=data.css %>
    </style>
</head>

<body>
    <%- data.html %>

<% docData.extra.js.forEach(function(js){ %>
    	<script src="<%- js %>"></script>
<% }); %>
<script>
 <%- es5Js %>
</script>
</body>
</html>