<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/antd.css">
    <link href="/dist/css/commons.css" rel="stylesheet">
    <link rel="stylesheet" href="/highlight/styles/atom-one-light.css">
    <script>
    var DocData = <%- JSON.stringify(data) %> || {};
    var DocName = '<%- name %>' || '';
    var DocPage = '<%- page %>' || '';
    var DocMD = `<%- markdown %>` || '';
    var navData = <%- navData %> || {};
    var defaultOpenKeys = '<%- defaultOpenKeys %>'|| '';
    </script>
    <style>
        .ant-menu-inline{
            border: none;
        }
    </style>
</head>

<body>
    <div id="root"></div>
    <div id='test-editormd-view' style="display:none"></div>
    <script src="/js/polyfill.min.js"></script>
    <script src='/js/react.production.min.js'></script>
    <script src='/js/react-dom.production.min.js'></script>
    <script src='/js/Moment.js'></script>
    <script src='/js/antd.js'></script>
    <script src='https://pandao.github.io/editor.md/examples/js/jquery.min.js'></script>
    <script src='https://pandao.github.io/editor.md/lib/marked.min.js'></script>
    <script src='https://pandao.github.io/editor.md/lib/prettify.min.js'></script>
    <script src="https://pandao.github.io/editor.md/editormd.js"></script>
    <script type="text/javascript" src="/dist/js/commons.js?v=1543388023269"></script>
    <script type="text/javascript" src="/dist/js/doc.js?v=1543388023269"></script>
    <script>
    let ComponentData = <%- JSON.stringify(ComponentData) %> || {};
    ReactDOM.render(React.createElement(MyDoc.App, null), document.getElementById('root'), function() {
        if (document.getElementById('editDocBtn')) {
            ReactDOM.render(React.createElement(
                antd.Tooltip, { title: "编辑" },
                React.createElement(antd.Icon, { type: "edit" })
            ), document.getElementById('editDocBtn'), function() {
                document.getElementById('editDocBtn').onclick = function() {
                    location.href = '/markdown/' + DocName + '/' + DocPage
                }
            });
        }
        if (ComponentData.Component) {


            ComponentData.Component.map(function(item) {
                if (document.getElementById(item.id)) {
                    ReactDOM.render(React.createElement(MyDoc.CodeBox, {
                            _html: item.html,
                            _js: item.js,
                            _style: item.css,
                            m: item.ism,
                            name: item.name,
                            des: item.des,
                            docname: DocName,
                            pagename: DocPage

                        }),
                        document.getElementById(item.id));
                }

            })
        }
    });
    </script>
</body>

</html>